{% extends "base.html" %}
{% block body %}
<body>
<div>
    <table>
        <tr>
            <td>{{users[0] or None}} {{ballov}}</td>
            <td>{{users[1] or None}} {{ballov}}</td>
            <td>{{users[2] or None}} {{ballov}}</td>
        </tr>
    </table>
</div>

<br>

<div>
    <form method="post">
        <div class="j">
            <input disabled class="zag" type="submit" value="{{name[0]}}"/>
            <input name="0" class="button" type="submit" value="100" placeholder="100"/>
            <input name="1" class="button" type="submit" value="200"/>
            <input name="2" class="button" type="submit" value="300"/>
            <input name="3" class="button" type="submit" value="400"/>
            <input name="4" class="button" type="submit" value="500"/>
        </div>

        <div class="j">
            <input disabled class="zag" type="submit" value="{{name[1]}}"/>
            <input name="5" class="button" type="submit" value="100"/>
            <input name="6" class="button" type="submit" value="200"/>
            <input name="7" class="button" type="submit" value="300"/>
            <input name="8" class="button" type="submit" value="400"/>
            <input name="9" class="button" type="submit" value="500"/>
        </div>

        <div class="j">
            <input disabled class="zag" type="submit" value="{{name[2]}}"/>
            <input name="10" class="button" type="submit" value="100"/>
            <input name="11" class="button" type="submit" value="200"/>
            <input name="12" class="button" type="submit" value="300"/>
            <input name="13" class="button" type="submit" value="400"/>
            <input name="14" class="button" type="submit" value="500"/>
        </div>
        <div class="j">
            <input disabled class="zag" type="submit" value="{{name[3]}}"/>
            <input name="15" class="button" type="submit" value="100"/>
            <input name="16" class="button" type="submit" value="200"/>
            <input name="17" class="button" type="submit" value="300"/>
            <input name="18" class="button" type="submit" value="400"/>
            <input name="19" class="button" type="submit" value="500"/>
        </div>
        <div class="j">
            <input disabled class="zag" type="submit" value="{{name[4]}}"/>
            <input name="20" class="button" type="submit" value="100"/>
            <input name="21" class="button" type="submit" value="200"/>
            <input name="22" class="button" type="submit" value="300"/>
            <input name="23" class="button" type="submit" value="400"/>
            <input name="24" class="button" type="submit" value="500"/>
        </div>
        <div class="j">
            <input disabled class="zag" type="submit" value="{{name[5]}}"/>
            <input name="25" class="button" type="submit" value="100"/>
            <input name="26" class="button" type="submit" value="200"/>
            <input name="27" class="button" type="submit" value="300"/>
            <input name="28" class="button" type="submit" value="400"/>
            <input name="29" class="button" type="submit" value="500"/>
        </div>
    </form>
    <div>
        <table>
            <tr>
                <td class="q">Вопрос: {{q}}</td>
            </tr>
        </table>
    </div>
    {{users}}
</div>

<footer class="page-footer font-small blue fixed-bottom">
    <div class="footer-copyright text-center py-3">
        <input name="answer" autofocus class="foot" type="submit"/>
        <input name="field" class="foot" type="text" autocomplete="off" value=""/>
        <input name="stat" class="foot" type="submit" value="Статистика"/>
    </div>
</footer>
</body>
{% endblock %}